<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="../">Heart Mind</a></h1>

        <a href="/auth/login" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span>Kirjaudu sisään</a>
        <a href="/auth/register" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span>Rikisteroidu</a>

    </div>
</header>
