<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Tervetuloa meidan Sovelluksen</h1>
        <a href="/kubios/test11" class="btn-get-started scrollto">Aloittaa HRV mittaus</a>
    </div>
</section>