<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope"></i> <a href="mailto:Group5@Metropolia.fi">Group5.05.2023@gmail.com</a>
            <i class="bi bi-phone"></i> +358 453 241005
        </div>
        <div class="d-none d-lg-flex social-links align-items-center">
            <a href="https://www.facebook.com/groups/628086162093987/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/group5.05.2023?igshid=YmMyMTA2M2Y=" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/ahmad-ksbiati-5627b817a" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
    </div>
</div>