<section id="doctors" class="doctors">
    <div class="container">

        <div class="section-title">
            <h2>List of Patients</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>At corporis quibusdam quas voluptas!</li>
                <li>Quos perspiciatis necessitatibus nihil maiores.</li>
                <li>Qui illo saepe voluptas facere.</li>
                <li>Nemo officiis eveniet unde explicabo.</li>
                <li>Beatae aperiam perferendis harum reprehenderit.</li>
                <li>Laudantium ducimus ea officia incidunt!</li>
                <li>Iusto quod praesentium alias quia!</li>
                <li>Officiis, veritatis? Accusamus, explicabo doloribus.</li>
                <li>Ipsa ipsum eos aperiam harum?</li>
                <li>Qui voluptatem ipsam autem. Similique.</li>
                <li>Quae laboriosam obcaecati ipsam consectetur.</li>
                <li>Quos nisi velit ullam esse.</li>
                <li>Iure nam consectetur perspiciatis aut.</li>
                <li>Iure, voluptates. Consectetur, fugit cupiditate.</li>
                <li>Incidunt nam repellat recusandae adipisci.</li>
                <li>Doloribus esse amet eos cumque.</li>
                <li>Laudantium voluptate impedit sit dolorem.</li>
                <li>Quis distinctio sed aperiam ducimus.</li>
                <li>Non ea assumenda quaerat voluptas?</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Saepe id commodi totam eaque?</li>
                <li>Quisquam doloremque maiores est doloribus!</li>
                <li>Aspernatur exercitationem odit deserunt saepe.</li>
                <li>Quia officiis quasi exercitationem explicabo?</li>
                <li>Praesentium accusantium hic ducimus illo!</li>
                <li>Ipsum nam id ullam dicta.</li>
                <li>Pariatur molestiae sequi cupiditate reiciendis.</li>
                <li>Suscipit tenetur facilis voluptatum omnis?</li>
                <li>Quaerat sit officia et neque.</li>
            </ul>

        </div>

    </div>
</section>